<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img src="assets/ps-logo.png" alt="Playstation Logo" width="140px" height="32" />
    </div>
    <div class="menu-bar__item">
        <ul>
            <li><a href="https://www.dio.me/users/mjquest64" target="_blank">DIO</a></li>
            <li><a href="https://www.linkedin.com/in/marciofpinto/" target="_blank">LINKEDIN</a></li>
            <li><a href="https://github.com/Jquest64" target="_blank">GITHUB</a></li>
        </ul>
    </div>
</div>